<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
  {{> navbar}}
    <div classname="container-fluid ">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto ">
            <div class="row">
              <div class="col-md-6 col-12 main-header-left">
               <img src="images/bg-5.jpg" class="img-fluid" alt="images">
                
              </div>
              <div class="col-md-6 col-12 main-header-right" >
               <h1>My name is <strong>Mukund Moona</strong></h1>
               <h3>I am web developer and freelancer</h3>
              </div>
            </div>
            </div>
            </div>
            </div>
            
  {{>footer}}
    
   
</body>
</html>